/* Title bar */
.titlebar-spacer {
    display: none !important;
}

/* Tab bar */
#navigator-toolbox {
    border: 0px !important;
}

#TabsToolbar {
    margin-left: 20vw !important;
}

#alltabs-button {
    display: none !important;
}

/* Nav bar*/
#nav-bar {
    background: transparent !important;
    margin-right: 80vw !important;
    margin-top: -40px !important;
}

/* URL bar */
#back-button {
    display: none !important;
}

#forward-button {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#urlbar-container {
    width: auto !important;
}

#urlbar {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#urlbar[breakout-extend] {
    width: 90vw !important;
}

#page-action-buttons {
    display: none !important;
}
